.legend-list {
  font-size: 13px;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.danger{
  background-color: #FC5959;
}

.warning {
  background-color: #FFBC49;
}

.success {
  background-color: #71AF46;
}

.awesome {
  background-color: #15D67E;
}
